  <div class="container">

        <form action="">

            <div class="row">

                <div class="col">

                    <h3 class="title">Shipping address</h3>

                    <div class="inputBox">
                        <span>Full name :</span>
                        <input type="text" placeholder="Enter Full Name">
                    </div>
                    <div class="inputBox">
                        <span>E-mail :</span>
                        <input type="email" placeholder="Enter valid mail">
                    </div>
                    <div class="inputBox">
                        <span>Address :</span>
                        <input type="text" placeholder="Door - Street - Locality">
                    </div>
                    <div class="inputBox">
                        <span>City :</span>
                        <input type="text" placeholder="Chennai">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>Country :</span>
                            <input type="text" placeholder="India">
                        </div>
                        <div class="inputBox">
                            <span>PIN code :</span>
                            <input type="text" placeholder="001 001">
                        </div>
                    </div>

                </div>

                <div class="col">

                    <h3 class="title">Payment</h3>

                    <div class="inputBox">
                        <span>Cards Accepted :</span>
                        <img src="./../../assets/images/new pay.png" alt="">
                    </div>
                    <div class="inputBox">
                        <span>Name on card :</span>
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="inputBox">
                        <span>Credit Card Number :</span>
                        <input type="number" placeholder="0000-0000-0000-0000">
                    </div>
                    <div class="inputBox">
                        <span>Exp month :</span>
                        <input type="number" placeholder="00">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>Exp year :</span>
                            <input type="number" placeholder="0000">
                        </div>
                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="000">
                        </div>
                    </div>

                </div>

            </div>

            <input   routerLink="/order" type="submit" value="Proceed to checkout" class="submit-btn">

        </form>

    </div>

