.form-control {
    border-radius: 10px;
    width: 200px;
    margin-left: 10px;
    
  }
  .search-icon {
    position: absolute;
    z-index: 10;
    right: 59%;
    top: 15px;
    color: gray;
  }
  .buttons{ 
    text-indent: 25em; 
} 

.mtb{ 
    color: rgb(217, 220, 252); 
} 
.BB{ 
    color: rgb(36, 32, 32); 
    box-shadow: rgb(78, 175, 231); 
} 
.h1{ 
    text-align: center; 
    color: blue; 
} 
.B{ 
    right:150px; 
}

.car{
  background-color: rgba(128, 124, 124, 0.416);
}


.m-0{
    
  font-style: Garamond;
  font-size:40px; 
 
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
  }
  
  
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  
  
  .navbar li {
    position: relative;
  }
  
  
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    
    padding: 8px 16px;
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    background: rgba(255, 255, 255, 0.2);
  }
  
  
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 10px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: #2f4d5a;
  }
  
  
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #67b0d1;
  }
  
  
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
  
  
   .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }

  .user{
    height: 20px;
    width: 20px;
  }