<body>
<div class="pic-ctn">
    <img src="./../../assets/images/dog_food_offer_1.jpg" alt="" class="pic">
    <img src="./../../assets/images/dog_food_offer_2.png" alt="" class="pic">
    <img src="./../../assets/images/dog_food_offer_3.png" alt="" class="pic">
    <img src="./../../assets/images/dog_food_offer_4.jpg" alt="" class="pic">
    <img src="./../../assets/images/dog_food_offer_5.gif" alt="" class="pic">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  </div>
  <div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  </body>