




<body>
	<!-- section banner start -->
	<div class="header_section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div><a href="index.html"><img src="./../../assets/images/images_login/pets_logo.png"></a></div>
				</div>
				<div class="col-md-8">
					<div class="menu_text">
						<ul>
							<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
							<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
							<li class="last"><a class="log" (click)="opendialog1()" style="color: #ff9900;">
									Log in / Register</a></li>


						</ul>
					</div>
				</div>
			</div>
			<div class="banner_main">
				<div class="container">
					<div class="ram">
						<div class="row">
							<div class="col-sm-13">
								<h1 class="taital">PET PARADISE</h1>

								<p class="consectetur_text ">Find your four legged souls here </p>

							</div>
						</div>
					</div>
					<div class="box">
						<h1 class="numbar_tex"></h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section banner end -->
		<!-- section about start -->
		<div class="about_section">
			<div class="about_text">
				<div class="container">
					<h1 class="about_taital_1"><strong><span style="color: #f7941d;">About</span> Pets</strong></h1>
					<!--<p class="magna_text"> If having a soul means being able to fell love and loyalty and gratitude, then animals are better off than a lot of humans</p> -->
					<p class="magna_text">THERE'S A SAYING.<br> 
						IF YOU WANT SOMEONE TO LOVE YOU FOREVER, 
						BUY A DOG,<br>FEED IT AND KEEP IT AROUND.</p>
					<div class="about_bt">
						<button class="more_bt"> <a href="#contain">Read More</a> </button>
					</div>
					<div class="about">
						<h1 class="numbar_text"></h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section about end -->
		<!-- section gallery start -->
		<div class="gallery_main layout_padding">
			<div id="contain" class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="about_taital"><strong><span style="color: #ffffff;">Our</span> Dogs</strong></h1>
						<p class="sed_text"> “Owners of dogs will have noticed that, if you provide them with food and
							water and shelter and affection, they will think you are god. Whereas owners of cats are
							compelled to realize that, if you provide them with food and water and shelter and
							affection, they draw the conclusion that they are gods.”</p>

					</div>
				</div>
				<div class="gallery_images">
					<div class="row">
						<div class="col-sm-7">
							<div class="gallery_blog">
								<img src="./../../assets/images/images_login/gallery-img1.jpg"
									style="max-width: 100%; height: 300px; width: 100%;">
								<div class="overlay">
									<div class="text"><strong>PuppyDogPetAnimal</strong></div>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="gallery_blog">
								<img src="./../../assets/images/images_login/gallery-img2.jpg"
									style="max-width: 100%; height: 300px; width: 100%;">
								<div class="overlay">
									<div class="text"><strong>PuppyDogPetAnimal</strong></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="gallery_images">
					<div class="row">
						<div class="col-sm-5">
							<div class="gallery_blog">
								<img src="./../../assets/images/images_login/gallery-img3.jpg"
									style="max-width: 100%; width: 100%;">
								<div class="overlay">
									<div class="text"><strong>PuppyDogPetAnimal</strong></div>
								</div>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="gallery_blog">
								<img src="./../../assets/images/images_login/gallery-img4.jpg"
									style="max-width: 100%; height: 300px; width: 100%;">
								<div class="overlay">
									<div class="text"><strong>PuppyDogPetAnimal</strong></div>
								</div>
							</div>
							<div class="gallery_blog">
								<img src="./../../assets/images/images_login/gallery-img5.jpg"
									style="max-width: 100%; height: 297px; width: 100%;">
								<div class="overlay">
									<div class="text"><strong>PuppyDogPetAnimal</strong></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- section gallery end -->

		<!-- section get in touch start -->

			
    